header {
    text-align: center;
  }
  header > p {
    margin: auto;
    width: 40%;
  }
  main {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-auto-rows: auto;
    gap: 10px;
    padding: 10px;
  }
  main > div {
    text-align: center;
    padding: 7px 7px 20px 7px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  main > div h3,
  h6,
  p {
    padding: 0;
    margin: 0;
    margin-top: 5px;
  }
  main > div h3 {
    margin-top: 20px;
  }
  main > div img {
    width: 100%;
  }
  main > div p {
    font-size: 12px;
  }
  footer {
    width: 85%;
    margin: auto;
    margin-top: 44px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-auto-rows: auto;
    justify-content: center;
    column-gap: 10px;
    row-gap: 35px;
  }
  footer > div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  footer > div > section h2,
  p {
    margin: 0;
    padding: 0;
  }
  footer > div > section img {
    width: 100%;
    margin-top: 5px;
  }
  footer > div > section:last-child p {
    margin-top: 13px;
  }

  @media screen and (max-width: 990px) {
    footer {
      width: 98%;
    }
    header > p {
      width: 65%;
    }
  }
  @media screen and (max-width: 604px) {
    header > p {
      width: 90%;
    }
    footer > div {
      justify-content: flex-start;
    }
    footer > div > section:first-child {
      text-align: center;
    }
    footer > div > section img {
      width: 70%;
      margin-top: 5px;
    }
  }